<div class="review-card">
	<span class="fa fa-star <%= item.rating > 0 ? 'checked' : '' %>"></span>
	<span class="fa fa-star <%= item.rating > 1 ? 'checked' : '' %>"></span>
	<span class="fa fa-star <%= item.rating > 2 ? 'checked' : '' %>"></span>
	<span class="fa fa-star <%= item.rating > 3 ? 'checked' : '' %>"></span>
	<span class="fa fa-star <%= item.rating > 4 ? 'checked' : '' %>"></span>
	<div class="comment">
			<%= item.comment %>
	</div>
</div>